{# Kế thừa layout frontend #}
{% extends "frontend/layouts/layout.html.twig" %}
{# Nội dung trong block title #}
{% block title %}
Trang chủ
{% endblock %}
{# End Nội dung trong block title #}
{# Nội dung trong block content #}
{% block customstyles %}
<!-- Add CSS thư viện SLICK -->
<link rel="stylesheet" type="text/css" href="/assets/vendor/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/assets/vendor/slick/slick-theme.css"/>


{% endblock %}
{% block content %}

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                    {% for sanphamDanhMuc in danhsachsanphamDanhMuc %}
                        <li><a href="/frontend/sanpham/search.php">{{ sanphamDanhMuc.lsp_ten }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+84 342878766</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="/assets/frontend/img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="/frontend/sanpham/search.php" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                    {% for sanphamCarousel in danhsachsanphamCarousel %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="/assets/uploads/{{ sanphamCarousel.hsp_tentaptin }}">
                            <h5><a href="/frontend/sanpham/search.php">{{ sanphamCarousel.lsp_ten }}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Featured Section Begin -->
<!-- Featured Section Begin -->
{% set counter = 0 %}
{% set group = 4 %}
{% set limit = danhsachsanpham|length %}
{% set col_class_name = (12 / group) %}
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".oranges">Oranges</li>
                        <li data-filter=".fresh-meat">Fresh Meat</li>
                        <li data-filter=".vegetables">Vegetables</li>
                        <li data-filter=".fastfood">Fastfood</li>
                    </ul>
                </div>
            </div>
        </div>
        {# <form name="frmsanpham" id="frmsanpham" method="post" action="/frontend/ajax/giohang-themsanpham-ajax.php"> #}

        <div class="row featured__filter">
            {% for sanpham in danhsachsanpham %}

              

            <div class="col-lg-3 col-md-4 col-sm-6 mix {{ sanpham.lsp_ten }}">
                <div class="featured__item">
                    {% if sanpham.hsp_tentaptin %}

                    <div class="featured__item__pic set-bg" data-setbg="/assets/uploads/{{ sanpham.hsp_tentaptin }}">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="/frontend/sanpham/detail.php?sp_ma={{ sanpham.sp_ma }}"><i class="fa fa-info-circle"></i></a></li>
                            <li><a href="/frontend/checkout/cart.php" id="btnThemVaoGioHang"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="featured__item__pic set-bg" data-setbg="/assets/shared/img/default-image_600.png">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="/frontend/sanpham/detail.php?sp_ma={{ sanpham.sp_ma }}"><i class="fa fa-info-circle"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    {% endif %}

                    <div class="featured__item__text">
                        <a href="/frontend/sanpham/chitiet.php?sp_ma={{ sanpham.sp_ma }}">
                            <h6>{{ sanpham.sp_ten }}</h6>
                        </a>                        
                        <h5>{{ sanpham.sp_gia }}</h5>
                    </div>
                </div>
            </div>
            {% set counter = counter + 1 %}
            {% if (counter % group == 0 and counter < limit) %}
            </div><div class="row featured__filter">
            {% endif %}
            
            {% endfor %}
        </div>
        {# </form> #}
    </div>
</section>
<!-- Featured Section End -->
<!-- Featured Section End -->

<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/assets/frontend/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/assets/frontend/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->

<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    {% for sanphamLastest in danhsachsanphamLastest %}

                    <div class="latest-product__slider owl-carousel">
                    
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="/assets/uploads/{{ sanphamLastest.hsp_tentaptin }}" alt="" style="width:150px">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ sanphamLastest.sp_ten }}</h6>
                                    <span>{{ sanphamLastest.sp_gia }}</span>
                                </div>
                            </a>

                        </div>

                    </div>

                    {% endfor %}
                </div>
            </div>
             <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    {% for sanphamTopRate in danhsachsanphamTopRate %}

                    <div class="latest-product__slider owl-carousel">
                    
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="/assets/uploads/{{ sanphamTopRate.hsp_tentaptin }}" alt="" style="width:150px">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ sanphamTopRate.sp_ten }}</h6>
                                    <span>{{ sanphamTopRate.sp_gia }}</span>
                                </div>
                            </a>

                        </div>

                    </div>

                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Review Products</h4>
                    {% for sanphamReview in danhsachsanphamReview %}

                    <div class="latest-product__slider owl-carousel">
                    
                        <div class="latest-prdouct__slider__item">
                            <a href="#" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="/assets/uploads/{{ sanphamReview.hsp_tentaptin }}" alt="" style="width:150px">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ sanphamReview.sp_ten }}</h6>
                                    <span>{{ sanphamReview.sp_gia }}</span>
                                </div>
                            </a>

                        </div>

                    </div>

                    {% endfor %}
                </div>
            </div>
           
        </div>
    </div>
</section>
<!-- Latest Product Section End -->

<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
           {% for danhsachblog in danhsachBlog %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="/assets/uploads/{{ danhsachblog.hb_tentaptin }}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{ danhsachblog.bl_ngay }}</li>
                                    
                                    <li><i class="fa fa-comment-o"></i>{{danhsachblog.sogopy}}</li>

                                </ul>
                                <h5><a href="/frontend/blog/blog-detail.php?bl_ma={{ danhsachblog.bl_ma }}">{{ danhsachblog.bl_chude }}</a></h5>
                                <p>{{ danhsachblog.bl_mota_ngan }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</section>
<!-- Blog Section End -->

{% endblock %}
 
{# End Nội dung trong block content #}
