{# Kế thừa layout frontend #}
{% extends "/frontend/layouts/layout.html.twig" %}
{# Nội dung trong block title #}
{% block title %}
Blog
{% endblock %}
{# End Nội dung trong block title #}
{# Nội dung trong block headline #}
{% block headline %}
Blog
{% endblock %}
{# Nội dung trong block content #}
{% block content %}
{# End Nội dung trong block headline #}


        <!-- Hero Section End -->
        {{ include('/frontend/blog/header.html.twig') }}
        <!-- Breadcrumb Section Begin -->
        <section class="blog spad">
            <div class="container">
                <div class="row">
                  {{ include('/frontend/blog/bar.html.twig') }}
                    <div class="col-lg-8 col-md-7">
                        <div class="row">
                        {% for danhsachblog in danhsachBlog %}
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic">
                                        <img src="/assets/uploads/{{ danhsachblog.hb_tentaptin }}" alt="">
                                    </div>
                                    <div class="blog__item__text">
                                        <ul>
                                            <li><i class="fa fa-calendar-o"></i> {{ danhsachblog.bl_ngay }}</li>
                                           
                                            <li><i class="fa fa-comment-o"></i>{{danhsachblog.sogopy}}</li>

                                        </ul>
                                        <h5><a href="/frontend/blog/blog-detail.php?bl_ma={{ danhsachblog.bl_ma }}">{{ danhsachblog.bl_chude }}</a></h5>
                                        <p>{{ danhsachblog.bl_mota_ngan }}</p>
                                        <a href="/frontend/blog/blog-detail.php?bl_ma={{ danhsachblog.bl_ma }}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                            <div class="col-lg-12">
                                <div class="product__pagination blog__pagination">
                                    <a href="#">1</a>
                                    <a href="#">2</a>
                                    <a href="#">3</a>
                                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Section End -->

        <!-- Footer Section Begin -->
       

{% endblock %}
