{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Sản phẩm
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Sản phẩm
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Form Example</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                     <form class="form-horizontal" name="frmGopY" id="frmGopY" method="post" action="/backend/gopy/edit.php?gy_ma={{ gopy.gy_ma }}">
                      <fieldset>
                        <legend>Form Horizontal</legend>
                      
                        <div class="control-group success">
                            <label class="control-label" for="gy_ma">Mã góp ý</label>
                            <div class="controls">
                            <input type="text" id="gy_ma" name="gy_ma" placeholder="Mã góp ý"  readonly value="{{ gopy.gy_ma }}">
                            <!-- <span class="help-inline">Woohoo!</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="gy_hoten">Họ Tên</label>
                            <div class="controls">
                            <input type="text" id="gy_hoten" name="gy_hoten" placeholder="Họ Tên" value="{{ gopy.gy_hoten }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="gy_email">Email</label>
                            <div class="controls">
                            <input type="text" id="gy_email" name="gy_email" placeholder="Email" value="{{ gopy.gy_email }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="gy_diachi">Địa chỉ</label>
                            <div class="controls">
                            <input type="text" id="gy_diachi" name="gy_diachi" placeholder="Địa chỉ" value="{{ gopy.gy_diachi }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                    
                        <div class="control-group warning">
                            <label class="control-label" for="gy_dienthoai"> Số điện thoại</label>
                            <div class="controls">
                            <input type="text" id="gy_dienthoai" name="gy_dienthoai" placeholder="Số điện thoại" value="{{ gopy.gy_dienthoai }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="gy_tieude">Tiêu đề</label>
                            <div class="controls">
                            <input type="text" id="gy_tieude" name="gy_tieude" placeholder="Tiêu đề" value="{{ gopy.gy_tieude }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="gy_noidung">Nội dung</label>
                            <div class="controls">
                            <input type="text" id="gy_noidung" name="gy_noidung" placeholder="Nội dung" value="{{ gopy.gy_noidung }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="gy_ngaygopy">Ngày góp ý</label>
                            <div class="controls">
                            <input type="text" id="gy_ngaygopy" name="gy_ngaygopy" placeholder="Ngày góp ý" value="{{ gopy.gy_ngaygopy }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                    
                        <div class="control-group success">
                            <label for="cdgy_ma" class="control-label">Mã chủ đề</label>
                            <div class="controls">
                                <select class="form-control" id="cdgy_ma" name="cdgy_ma">
                                  
                                    {% for chudegopy in ds_chudegopy %}
                                        {% if chudegopy.cdgy_ma == chudegopy.cdgy_ma %}
                                            <option value="{{ chudegopy.cdgy_ma }}" selected>{{ chudegopy.cdgy_ma }}</option>
                                        {% else %}
                                            <option value="{{ chudegopy.cdgy_ma }}">{{ chudegopy.cdgy_ma }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" name="btnSave">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{# End Nội dung trong block content #}