{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Chỉnh sửa hình thức thanh toán
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Chỉnh sửa hình thức thanh toán
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}

<div class="span9" id="content">
<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">Form Example</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                 <form class="form-horizontal" name="frmKhachHang" id="frmKhachHang" method="post" action="/backend/khachhang/edit.php?kh_ma={{ khachhang.kh_ma }}">
                  <fieldset>
                    <legend>Form Horizontal</legend>
                    <div class="control-group success">
                        <label class="control-label" for="kh_ma">Mã khách hàng</label>
                        <div class="controls">
                          <input type="text" id="kh_ma" name="kh_ma" placeholder="Mã khách hàng" readonly value="{{ khachhang.kh_ma }}">
                          <!-- <span class="help-inline">Woohoo!</span> -->
                        </div>
                      </div>
                    <div class="control-group warning">
                      <label class="control-label" for="kh_tendangnhap">Tên đăng nhập</label>
                      <div class="controls">
                        <input type="text" id="kh_tendangnhap" name="kh_tendangnhap" placeholder="Tên đăng nhập" value="{{ khachhang.kh_tendangnhap }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                    <div class="control-group warning">
                      <label class="control-label" for="kh_matkhau">Mật khẩu</label>
                      <div class="controls">
                        <input type="text" id="kh_matkhau" name="kh_matkhau" placeholder="Mật khẩu" value="{{ khachhang.kh_matkhau }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                     <div class="control-group warning">
                      <label class="control-label" for="kh_ten">Tên khách hàng</label>
                      <div class="controls">
                        <input type="text" id="kh_ten" name="kh_ten" placeholder="Tên khách hàng" value="{{ khachhang.kh_ten }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                    <div class="control-group warning">
                      <label class="control-label" for="kh_gioitinh">Giới tính</label>
                      <div class="controls">
                        <input type="text" id="kh_gioitinh" name="kh_gioitinh" placeholder="Giới tính" value="{{ khachhang.kh_gioitinh }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                     <div class="control-group warning">
                      <label class="control-label" for="kh_diachi">Địa chỉ</label>
                      <div class="controls">
                        <input type="text" id="kh_diachi" name="kh_diachi" placeholder="Địa chỉ" value="{{ khachhang.kh_diachi }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                    <div class="control-group warning">
                      <label class="control-label" for="kh_dienthoai">Số điện thoại</label>
                      <div class="controls">
                        <input type="text" id="kh_dienthoai" name="kh_dienthoai" placeholder="Số điện thoại" value="{{ khachhang.kh_dienthoai }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                     <div class="control-group warning">
                      <label class="control-label" for="kh_email">Email</label>
                      <div class="controls">
                        <input type="text" id="kh_email" name="kh_email" placeholder="Email" value="{{ khachhang.kh_email }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                    <div class="control-group warning">
                      <label class="control-label" for="kh_ngaysinh">Ngày sinh</label>
                      <div class="controls">
                        <input type="text" id="kh_ngaysinh" name="kh_ngaysinh" placeholder="Ngày sinh" value="{{ khachhang.kh_ngaysinh }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                      <div class="control-group warning">
                      <label class="control-label" for="kh_thangsinh">Tháng sinh</label>
                      <div class="controls">
                        <input type="text" id="kh_thangsinh" name="kh_thangsinh" placeholder="Tháng sinh" value="{{ khachhang.kh_thangsinh }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                      <div class="control-group warning">
                      <label class="control-label" for="kh_namsinh">Năm sinh</label>
                      <div class="controls">
                        <input type="text" id="kh_namsinh" name="kh_namsinh" placeholder="Ngày sinh" value="{{ khachhang.kh_namsinh }}">
                      </div>
                    </div>
                     <div class="control-group warning">
                      <label class="control-label" for="kh_cmnd">Số CMND</label>
                      <div class="controls">
                        <input type="text" id="kh_cmnd" name="kh_cmnd" placeholder="Số CMND" value="{{ khachhang.kh_cmnd }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                    <div class="control-group warning">
                      <label class="control-label" for="kh_makichhoat">Mã kích hoạt</label>
                      <div class="controls">
                        <input type="text" id="kh_makichhoat" name="kh_makichhoat" placeholder="Mã kích hoạt" value="{{ khachhang.kh_makichhoat }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                     <div class="control-group warning">
                      <label class="control-label" for="kh_trangthai">Trạng thái</label>
                      <div class="controls">
                        <input type="text" id="kh_trangthai" name="kh_trangthai" placeholder="Trạng thái" value="{{ khachhang.kh_trangthai }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>
                    <div class="control-group warning">
                      <label class="control-label" for="kh_quantri">Quản trị</label>
                      <div class="controls">
                        <input type="text" id="kh_quantri" name="kh_quantri" placeholder="Quản trị" value="{{ khachhang.kh_quantri }}">
                        <!-- <span class="help-inline">Something may have gone wrong</span> -->
                      </div>
                    </div>

                   

                    <div class="form-actions">
                      <button  class="btn" name="btnCancel">OK</button>
                    </div>
                  </fieldset>
                </form>

            </div>
        </div>
    </div>
    <!-- /block -->
</div>
</div>
{% endblock %}
{# End Nội dung trong block content #}