{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Sản phẩm
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Sản phẩm
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<div class="span9" id="content">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Form Example</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                     <form class="form-horizontal" name="frmLoaiSanPham" id="frmLoaiSanPham" method="post" action="/backend/sanpham/edit.php?sp_ma={{ sanpham.sp_ma }}">
                      <fieldset>
                        <legend>Form Horizontal</legend>
                        <div class="control-group success">
                            <label class="control-label" for="sp_ma">Mã loại sản phẩm</label>
                            <div class="controls">
                            <input type="text" id="sp_ma" name="sp_ma" placeholder="Mã Sản phẩm"  readonly value="{{ sanpham.sp_ma }}">
                            <!-- <span class="help-inline">Woohoo!</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="sp_ten">Tên sản phẩm</label>
                            <div class="controls">
                            <input type="text" id="sp_ten" name="sp_ten" placeholder="Tên Sản phẩm" value="{{ sanpham.sp_ten }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="sp_gia">Giá Sản phẩm</label>
                            <div class="controls">
                            <input type="text" id="sp_gia" name="sp_gia" placeholder="Giá Sản phẩm" value="{{ sanpham.sp_gia }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="sp_giacu">Giá cũ Sản phẩm</label>
                            <div class="controls">
                            <input type="text" id="sp_giacu" name="sp_giacu" placeholder="Giá cũ Sản phẩm" value="{{ sanpham.sp_giacu }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                    
                        <div class="control-group warning">
                            <label class="control-label" for="sp_mota_ngan">Mô tả ngắn</label>
                            <div class="controls">
                            <input type="text" id="sp_mota_ngan" name="sp_mota_ngan" placeholder="Mô tả ngắn Sản phẩm" value="{{ sanpham.sp_mota_ngan }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="sp_mota_chitiet">Mô tả chi tiết</label>
                            <div class="controls">
                            <input type="text" id="sp_mota_chitiet" name="sp_mota_chitiet" placeholder="Mô tả chi tiết Sản phẩm" value="{{ sanpham.sp_mota_chitiet }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="sp_ngaycapnhat">Ngày cập nhật</label>
                            <div class="controls">
                            <input type="text" id="sp_ngaycapnhat" name="sp_ngaycapnhat" placeholder="Ngày cập nhật Sản phẩm" value="{{ sanpham.sp_ngaycapnhat }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>

                        <div class="control-group warning">
                            <label class="control-label" for="sp_soluong">Số lượng</label>
                            <div class="controls">
                            <input type="text" id="sp_soluong" name="sp_soluong" placeholder="Số lượng Sản phẩm" value="{{ sanpham.sp_soluong }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                        <div class="control-group warning">
                            <label class="control-label" for="sp_khoiluong">Khối lượng</label>
                            <div class="controls">
                            <input type="text" id="sp_khoiluong" name="sp_khoiluong" placeholder="Khối lượng Sản phẩm" value="{{ sanpham.sp_khoiluong }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                        <div class="control-group warning">
                            <label class="control-label" for="sp_availability">Nơi cất giữ</label>
                            <div class="controls">
                            <input type="text" id="sp_availability" name="sp_availability" placeholder="Nơi cất giữ" value="{{ sanpham.sp_availability }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                        <div class="control-group warning">
                            <label class="control-label" for="sp_shipping">Phí ship</label>
                            <div class="controls">
                            <input type="text" id="sp_shipping" name="sp_shipping" placeholder="Phí ship" value="{{ sanpham.sp_shipping }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                        <div class="control-group warning">
                            <label class="control-label" for="sp_phantram">Phần trăm giảm giá</label>
                            <div class="controls">
                            <input type="text" id="sp_phantram" name="sp_phantram" placeholder="Phần trăm giảm giá" value="{{ sanpham.sp_phantram }}">
                            <!-- <span class="help-inline">Something may have gone wrong</span> -->
                            </div>
                        </div>
                        <div class="control-group success">
                            <label for="lsp_ma" class="control-label">Loại sản phẩm</label>
                            <div class="controls">
                                <select class="form-control" id="lsp_ma" name="lsp_ma">
                                    {% for loaisanpham in ds_loaisanpham %}
                                        {% if loaisanpham.lsp_ma == sanpham.lsp_ma %}
                                        <option value="{{ loaisanpham.lsp_ma }}" selected>{{ loaisanpham.lsp_ten }}</option>
                                        {% else %}
                                        <option value="{{ loaisanpham.lsp_ma }}">{{ loaisanpham.lsp_ten }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group success">
                            <label for="nsx_ma" class="control-label">Nhà sản xuất</label>
                            <div class="controls">
                                <select class="form-control" id="nsx_ma" name="nsx_ma">
                                    {% for nhasanxuat in ds_nhasanxuat %}
                                        {% if nhasanxuat.nsx_ma == sanpham.nsx_ma %}
                                        <option value="{{ nhasanxuat.nsx_ma }}" selected>{{ nhasanxuat.nsx_ten }}</option>
                                        {% else %}
                                        <option value="{{ nhasanxuat.nsx_ma }}">{{ nhasanxuat.nsx_ten }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="control-group success">
                            <label for="km_ma" class="control-label">Khuyến mãi</label>
                            <div class="controls">
                                <select class="form-control" id="km_ma" name="km_ma">
                                    <option value="">Không áp dụng khuyến mãi</option>
                                    {% for khuyenmai in ds_khuyenmai %}
                                        {% if khuyenmai.km_ma == sanpham.km_ma %}
                                        <option value="{{ khuyenmai.km_ma }}" selected>{{ khuyenmai.km_tomtat }}</option>
                                        {% else %}
                                        <option value="{{ khuyenmai.km_ma }}">{{ khuyenmai.km_tomtat }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" name="btnSave">Cập nhật</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{# End Nội dung trong block content #}