{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Danh sách Sản phẩm
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Danh sách Sản phẩm
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}

<!-- Nút thêm mới, bấm vào sẽ hiển thị form nhập thông tin Thêm mới -->
<div class="span9">
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">LOẠI SẢN PHẨM</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                   <div class="table-toolbar">
                      <div class="btn-group">
                         <a href="/backend/sanpham/create.php"><button class="btn btn-success">Add New <i class="icon-plus icon-white"></i></button></a>
                      </div>
                      <div class="btn-group pull-right">
                         <button data-toggle="dropdown" class="btn dropdown-toggle">Tools <span class="caret"></span></button>
                         <ul class="dropdown-menu">
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Save as PDF</a></li>
                            <li><a href="#">Export to Excel</a></li>
                         </ul>
                      </div>
                   </div>
                    
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
                        <thead>
                            <tr>
                                <th>Mã Sản phẩm</th>
                                <th>Tên Sản phẩm</th>
                                <th>Giá</th>
                                <th>Giá cũ</th>
                                <th>Mô tả</th>
                                <th>Ngày cập nhật</th>
                                <th>Số lượng</th>
                                <th>Loại sản phẩm</th>
                                <th>Nhà sản xuất</th>
                                <th>Khuyến mãi</th>
                                <th>Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sanpham in ds_sanpham %}
                                <tr class="odd gradeX">
                                    <td>{{ sanpham.sp_ma }}</td>
                                    <td>{{ sanpham.sp_ten }}</td>
                                    <td>{{ sanpham.sp_gia }}</td>
                                    <td>{{ sanpham.sp_giacu }}</td>
                                    <td>
                                        {{ sanpham.sp_mota_ngan }}
                                        <p>
                                            {{ sanpham.sp_mota_chitiet }}
                                        </p>
                                    </td>
                                    <td>{{ sanpham.sp_ngaycapnhat }}</td>
                                    <td>{{ sanpham.sp_soluong }}</td>
                                    <td>{{ sanpham.lsp_ten }}</td>
                                    <td>{{ sanpham.nsx_ten }}</td>
                                    <td>{{ sanpham.km_tomtat }}</td>
                                    <td class="center">
                                        <!-- Nút sửa, bấm vào sẽ hiển thị form hiệu chỉnh thông tin dựa vào khóa chính `sp_ma` -->
                                        <a href="edit.php?sp_ma={{ sanpham.sp_ma }}" class="btn btn-warning">
                                            <span data-feather="edit"></span> Sửa
                                        </a>

                                        <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `sp_ma` -->
                                        <a href="delete.php?sp_ma={{ sanpham.sp_ma }}" class="btn btn-danger">
                                            <span data-feather="delete"></span> Xóa
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /block -->
    </div>
    </div>
{% endblock %}
{# End Nội dung trong block content #}