{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Bảng tin
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Bảng tin
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid">
                        <div class="alert alert-success">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
                            <h4>Success</h4>
                        	The operation completed successfully</div>
                        	<div class="navbar">
                            	<div class="navbar-inner">
	                                <ul class="breadcrumb">
	                                    <i class="icon-chevron-left hide-sidebar"><a href='#' title="Hide Sidebar" rel='tooltip'>&nbsp;</a></i>
	                                    <i class="icon-chevron-right show-sidebar" style="display:none;"><a href='#' title="Show Sidebar" rel='tooltip'>&nbsp;</a></i>
	                                    <li>
	                                        <a href="#">Dashboard</a> <span class="divider">/</span>	
	                                    </li>
	                                    <li>
	                                        <a href="#">Settings</a> <span class="divider">/</span>	
	                                    </li>
	                                    <li class="active">Tools</li>
	                                </ul>
                            	</div>
                        	</div>
                    	</div>
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Statistics</div>
                                <div class="pull-right"><span class="badge badge-warning">View More</span>

                                </div>
                            </div>
                            <div class="block-content collapse in">
                                <div class="span3">
                                    {% for chudegopycount in ds_chudegopycount %}
                                    <div class="chart" data-percent="{{ chudegopycount.cdgy_soluong_thongke }}">{{ chudegopycount.cdgy_soluong }}</div>
                                    <div class="chart-bottom-heading"><span class="label label-info">Chủ đề</span>

                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="span3">
                                    {% for nhasanxuatcount in ds_nhasanxuatcount %}
                                        <div class="chart" data-percent="{{ nhasanxuatcount.nsx_soluong_thongke }}">{{ nhasanxuatcount.nsx_soluong }}</div>
                                        <div class="chart-bottom-heading"><span class="label label-info">Nhà SX</span>
                                    </div>
                                    {% endfor %}

                                </div>
                                 <div class="span3">
                                    {% for loaisanphamcount in ds_loaisanphamcount %}
                                        <div class="chart" data-percent="{{ loaisanphamcount.lsp_soluong_thongke }}">{{ loaisanphamcount.lsp_soluong }}</div>
                                        <div class="chart-bottom-heading"><span class="label label-info">Loại SP</span>
                                    </div>
                                    {% endfor %}

                                </div>
                                 <div class="span3">
                                    {% for khachhangcount in ds_khachhangcount %}
                                        <div class="chart" data-percent="{{ khachhangcount.kh_soluong_thongke }}">{{ khachhangcount.kh_soluong }}</div>
                                        <div class="chart-bottom-heading"><span class="label label-info">Khách hàng</span>
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Nhà sản xuất</div>
                                    <div class="pull-right"><span class="badge badge-info">
                                    {% for nhasanxuatcount in ds_nhasanxuatcount %}
                                        {{ nhasanxuatcount.nsx_soluong }}</span>
                                    {% endfor %}

                                    </div>
                                </div>
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã nhà sản xuất</th>
                                                <th>Tên nhà sản xuất</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for nhasanxuat in ds_nhasanxuat %}
                                            <tr class="odd gradeX">
                                                <td>{{ nhasanxuat.nsx_ma }}</td>
                                                <td>{{ nhasanxuat.nsx_ten }}</td>
                                                <td class="center">
                                                    <!-- Nút sửa, bấm vào sẽ hiển thị form hiệu chỉnh thông tin dựa vào khóa chính `lsp_ma` -->
                                                    <a href="/backend/nhasanxuat/edit.php?nsx_ma={{ nhasanxuat.nsx_ma }}" class="btn btn-warning">
                                                        <span data-feather="edit"></span> Sửa
                                                    </a>
                                    
                                                    <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `nsx_ma` -->
                                                    <a href="/backend/nhasanxuat/delete.php?nsx_ma={{ nhasanxuat.nsx_ma }}" class="btn btn-danger">
                                                        <span data-feather="delete"></span> Xóa
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /block -->
                        </div>
                        <div class="span6">
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Orders</div>
                                    <div class="pull-right"><span class="badge badge-info">
                                    {% for loaisanphamcount in ds_loaisanphamcount %}
                                        {{ loaisanphamcount.lsp_soluong }}</span>
                                    {% endfor %}
                                    </span>

                                    </div>
                                </div>
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã loại sản phẩm</th>
                                                <th>Tên loại sản phẩm</th>
                                            </tr>
                                        </thead>
                                        
                                            {% for loaisanpham in ds_loaisanpham %}
                                                <tr class="odd gradeX">
                                                    <td>{{ loaisanpham.lsp_ma }}</td>
                                                    <td>{{ loaisanpham.lsp_ten }}</td>
                                                    <td class="center">
                                                        <!-- Nút sửa, bấm vào sẽ hiển thị form hiệu chỉnh thông tin dựa vào khóa chính `lsp_ma` -->
                                                        <a href="/backend/loaisanpham/edit.php?lsp_ma={{ loaisanpham.lsp_ma }}" class="btn btn-warning">
                                                            <span data-feather="edit"></span> Sửa
                                                        </a>
                                        
                                                        <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `lsp_ma` -->
                                                        <a href="/backend/loaisanpham/delete.php?lsp_ma={{ loaisanpham.lsp_ma }}" class="btn btn-danger">
                                                            <span data-feather="delete"></span> Xóa
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /block -->
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Clients</div>
                                    <div class="pull-right"><span class="badge badge-info">
                                    {% for khachhangcount in ds_khachhangcount %}
                                        {{ khachhangcount.kh_soluong }}</span>
                                    {% endfor %}</span>

                                    </div>
                                </div>
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã</th>
                                                <th>Tên khách hàng</th>
                                                <th>Email</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for khachhang in ds_khachhang %}
                                            <tr class="odd gradeX">
                                                <td>{{ khachhang.kh_ma }}</td>
                                                <td>{{ khachhang.kh_ten }}</td>
                                                <td>{{ khachhang.kh_email }}</td>
                                                <td class="center">
                                                    <!-- Nút sửa, bấm vào sẽ hiển thị form hiệu chỉnh thông tin dựa vào khóa chính `lsp_ma` -->
                                                    <a href="/backend/khachhang/edit.php?kh_ma={{ khachhang.kh_ma }}" class="btn btn-warning">
                                                        <span data-feather="edit"></span> Sửa
                                                    </a>
                                    
                                                    <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `nsx_ma` -->
                                                    <a href="/backend/khachhang/delete.php?kh_ma={{ khachhang.kh_ma }}" class="btn btn-danger">
                                                        <span data-feather="delete"></span> Xóa
                                                    </a>

                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /block -->
                        </div>
                        <div class="span6">
                            <!-- block -->
                            <div class="block">
                                <div class="navbar navbar-inner block-header">
                                    <div class="muted pull-left">Invoices</div>
                                    <div class="pull-right"><span class="badge badge-info">
                                    {% for chudegopycount in ds_chudegopycount %}
                                        {{ chudegopycount.cdgy_soluong }}</span>
                                    {% endfor %}</span>
                                    </span>

                                    </div>
                                </div>
                                <div class="block-content collapse in">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Mã chủ đề góp ý</th>
                                                <th>Tên chủ đề góp ý</th>
                                                <th>Hành động</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for chudegopy in ds_chudegopy %}
                                            <tr class="odd gradeX">
                                                <td>{{ chudegopy.cdgy_ma }}</td>
                                                <td>{{ chudegopy.cdgy_ten}}</td>
                                                <td class="center">
                                                    <!-- Nút sửa, bấm vào sẽ hiển thị form hiệu chỉnh thông tin dựa vào khóa chính `lsp_ma` -->
                                                    <a href="/backend/chudegopy/edit.php?cdgy_ma={{ chudegopy.cdgy_ma }}" class="btn btn-warning">
                                                        <span data-feather="edit"></span> Sửa
                                                    </a>
                                    
                                                    <!-- Nút xóa, bấm vào sẽ xóa thông tin dựa vào khóa chính `nsx_ma` -->
                                                    <a href="/backend/chudegopy/delete.php?cdgy_ma={{ chudegopy.cdgy_ma }}" class="btn btn-danger">
                                                        <span data-feather="delete"></span> Xóa
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>                                            
                                    </table>
                                </div>
                            </div>
                            <!-- /block -->
                        </div>
                    </div>
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="navbar navbar-inner block-header">
                                <div class="muted pull-left">Gallery</div>
                                <div class="pull-right"><span class="badge badge-info">
                                 {% for hinhsanphamcount in ds_hinhsanphamcount %}
                                        {{ hinhsanphamcount.hsp_soluong }}</span>
                                    {% endfor %}
                                </span>

                                </div>
                            </div>
                            <table class="table table-striped">
                            {% for hinhsanpham in ds_hinhsanpham %}
                            <div class="block-content collapse in span2 ">
                                {# {% for hinhsanpham in ds_hinhsanpham %} #}
                                <div class="row-fluid padd-bottom span12">
                                {# {% for hinhsanpham in ds_hinhsanpham %} #}
                                  <div class="span12">
                                      <a href="/backend/hinhsanpham/index.php" class="thumbnail">
                                        <img src="/assets/uploads/{{ hinhsanpham.hsp_tentaptin }}" data-src="holder.js/260x180" alt="260x180" style="width: 260px; height: 180px;" />
                                      </a>
                                  </div>
                                {# {% endfor %}                                 #}
                                </div>
                                {# {% endfor %}                                 #}
                            </div>
                                {% endfor %}  
                            </table>                              
                        </div>
                        <!-- /block -->
                    </div>
                </div>
            </div>
            
        </div>

{% endblock %}
{# End Nội dung trong block content #}